h2 {
    color: #d56f3e;
    
}


span {
    color: #9d6f24;
}
 
.cards {
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    background-color:azure;

   
} 
img {
    width: 100%;
    border-radius: 25px;
}

h4 {
    text-align: right;  
    color: #3c787e;
}

#pets {
    display: flex;
    justify-content: space-evenly  ;
} 

@media (max-width: 700px) {
    #pets {
        flex-wrap: wrap;
    }
}


.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    width: 120px;
    height: 120px; 
    animation: circle 2s linear infinite;
   
   
}

@keyframes circle {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hh {
    margin-left: 20px;
}
#pp {
    margin-left: 30px;
 
}
